In [3]:
import pandas as pd

In [11]:
file_path = "/Users/rayasaeed/Desktop/hia322_datacollection/Uncleaned_Healthcare_Data_v2.xlsx"
excel_file = pd.ExcelFile(file_path)

In [15]:
excel_file.sheet_names

['FactTable',
 'dimPatient',
 'dimTransaction',
 'dimPhysician',
 'dimPayer',
 'dimLocation',
 'dimDiagnosisCode',
 'dimCptCode',
 'dimDate']

In [17]:
fact_table = excel_file.parse('FactTable')

In [19]:
fact_table.head()

,FactTablePK,dimPatientPK,dimPhysicianPK,dimDatePostPK,dimDateServicePK,dimCPTCodePK,dimPayerPK,dimTransactionPK,dimLocationPK,PatientNumber,dimDiagnosisCodePK,CPTUnits,GrossCharge,Payment,Adjustment,AR
0,1082164042,6066415,216412,20200528,20191215,583482,58987,49468,785522,21384136,92564854,-600,-10000.0,0.0,0.0,-6600.0
1,1027823678,5810482,216111,20200501,20191215,581655,98735,50858,786431,21387258,107435147,0,-3899.0,0.0,0.0,-3899.0
2,922963624,5337135,215646,20200102,20191215,596355,92873,53713,786027,21381441,81963015,-1,-2670.0,0.0,0.0,-2670.0
3,923120306,5337135,215646,20200102,20191215,596355,58987,53713,786027,21381441,81963015,-1,-2670.0,0.0,0.0,-2670.0
4,951760836,5337135,215646,20200205,20191215,596355,98735,53713,786027,21381441,72207535,-1,-2670.0,0.0,0.0,-2670.0

In [25]:
sheets = {sheet_name: excel_file.parse(sheet_name) for sheet_name in excel_file.sheet_names}

In [27]:
#what is the structure of the FactTable dataset

fact_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84220 entries, 0 to 84219
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   FactTablePK         84220 non-null  int64
 1   dimPatientPK        84220 non-null  int64
 2   dimPhysicianPK      84220 non-null  int64
 3   dimDatePostPK       84220 non-null  int64
 4   dimDateServicePK    84220 non-null  int64
 5   dimCPTCodePK        84220 non-null  int64
 6   dimPayerPK          84220 non-null  int64
 7   dimTransactionPK    84220 non-null  int64
 8   dimLocationPK       84220 non-null  int64
 9   PatientNumber       84220 non-null  int64
 10  dimDiagnosisCodePK  84220 non-null  int64
 11  CPTUnits            84220 non-null  int64
 12  GrossCharge         84220 non-null  float64
 13  Payment             84220 non-null  float64
 14  Adjustment          84220 non-null  float64
 15  AR                  84220 non-null  float64
dtypes: float64(4), int64(12)
memory usage: 10.3 MB

In [29]:
#are there any missing or duplicate rows in the FactTable?
fact_table.isnull().sum() #checks for missing values
fact_table.duplicated().sum() #check for duplicates

1

In [33]:
#what are the min and max values for grosscharge, payment and adjustment?

fact_table[['GrossCharge', 'Payment', 'Adjustment']].describe()

        GrossCharge       Payment    Adjustment
count  84220.000000  84220.000000  84220.000000
mean      17.322095     -8.354468     -8.509651
std      128.027626     50.581962     69.072560
min   -10000.000000  -3810.000000  -3941.510000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000
max     6600.000000   1406.480000   1691.950000

In [35]:
#how many unique dimDiagnosisCodePK values exist?

fact_table['dimDiagnosisCodePK'].nunique()

4801

In [ ]:
#dimPatient

In [37]:
#transfer dim_patient sheet into a variable

dim_patient = sheets['dimPatient']

In [39]:
#how many people have missing info in the EMAIL or CITY columns?
dim_patient[['Email','City']].isnull().sum()

Email    1
City     1
dtype: int64

In [43]:
#what are the unique values in the PatientGender column and how often do they occur?

dim_patient['PatientGender'].value_counts()

PatientGender
Female    3004
Male      2111
Femle        1
Mle          1
Name: count, dtype: int64

In [45]:
#what is the age distribution of the patients?

dim_patient['PatientAge'].describe()

count    5117.000000
mean       44.355286
std        26.023386
min         0.000000
25%        21.000000
50%        44.000000
75%        67.000000
max        90.000000
Name: PatientAge, dtype: float64

In [ ]:
#dimTRANSACTION

In [49]:
#transfer dim_transaction sheet into a variable
dim_transaction = sheets['dimTransaction']

In [51]:
#what are the unique transaction types?

dim_transaction['TransactionType'].unique()

array(['  Charge ', 'Charge', 'Adjustment', 'Payment', 'Denial',
       'Invoice', 'Bill'], dtype=object)

In [ ]:
#how many transactions are missing an AdjustmentReason

In [53]:
dim_transaction['AdjustmentReason'].isnull().sum()

1

In [ ]:
#DATA CLEANING

In [ ]:
#FactTable: issue is negative and zero values in GrossCharge and CPTUnits 
#question: how can we remove rows where GrossCharge or CPTUnits has invalid values

In [57]:
#before cleaning
print("before cleaning - negative and zero values in FactTable:")
print(fact_table[['GrossCharge', 'CPTUnits']])

before cleaning - negative and zero values in FactTable:
       GrossCharge  CPTUnits
0         -10000.0      -600
1          -3899.0         0
2          -2670.0        -1
3          -2670.0        -1
4          -2670.0        -1
...            ...       ...
84215       6243.0         1
84216       6600.0       600
84217       6600.0       600
84218       6600.0       600
84219     -10000.0      -600

[84220 rows x 2 columns]

In [59]:
fact_table_cleaned = fact_table[(fact_table['GrossCharge'] > 0) & (fact_table['GrossCharge'] > 0)]

In [61]:
#After cleaning

print("\nAfter Cleaning - Removed Negative and Zero Values:")
print(fact_table_cleaned[['GrossCharge', 'CPTUnits']])

After Cleaning - Removed Negative and Zero Values:
       GrossCharge  CPTUnits
74767         0.01         1
74768         0.01         1
74769         0.01         1
74770         0.01         1
74771         0.01         1
...            ...       ...
84214      4941.00         1
84215      6243.00         1
84216      6600.00       600
84217      6600.00       600
84218      6600.00       600

[9452 rows x 2 columns]

In [ ]:
#Issue: duplicate rows
#Q: How can we identify and remove duplicate rows from FactTable?

In [63]:
print("before cleaning - duplicates in FactTable:")
print(fact_table.duplicated().sum(), "duplicate rows found.")

before cleaning - duplicates in FactTable:
1 duplicate rows found.

In [67]:
fact_table_cleaned = fact_table_cleaned = fact_table_cleaned.drop_duplicates()

In [71]:
#After cleaning

print("\nAfter Cleaning - Duplicates Removed:")
print(fact_table_cleaned.duplicated().sum(), "duplicate rows found")

After Cleaning - Duplicates Removed:
0 duplicate rows found

In [75]:
#DIM PATIENT
#issue: missing values in email and city and question is how can we fill missing values in email and city with placeholders?

In [81]:
#before cleaning
print("before cleaning - missing email and city in dimPatient:")
print(dim_patient[['Email', 'City']].isnull().sum())

before cleaning - missing email and city in dimPatient:
Email    1
City     1
dtype: int64

In [83]:
dim_patient_cleaned = dim_patient.fillna({'Email': 'unknown@datacourse.com', 'City': 'Unknown'})

In [85]:
#After cleaning

print("\nAfter Cleaning - filled missing email and city:")
print(dim_patient_cleaned[['Email','City']].isnull().sum())

After Cleaning - filled missing email and city:
Email    0
City     0
dtype: int64

In [89]:
#PATIENTGENDER
#issue: typos in PatientGender
#Q. How can we correct typos in the PatientGender column?

In [91]:
#before cleaning
print("before cleaning - typos in patientgender:")
print(dim_patient['PatientGender'].value_counts())

before cleaning - typos in patientgender:
PatientGender
Female    3004
Male      2111
Femle        1
Mle          1
Name: count, dtype: int64

In [95]:
dim_patient['PatientGender'] = dim_patient['PatientGender'].replace({'Femle': 'Female', 'Mle': 'Male'})

In [97]:
#after cleaning
print("aftercleaning - typos in patientgender FIXED:")
print(dim_patient['PatientGender'].value_counts())

aftercleaning - typos in patientgender FIXED:
PatientGender
Female    3005
Male      2112
Name: count, dtype: int64

In [101]:
#dimTransaction
#issue: extra whitespace in TransactionType
#Question: how can we strip whitespace from the TransactionType
#print("before cleaning - whitespace in transactiontype:")
print(dim_transaction['TransactionType'].unique())

['  Charge ' 'Charge' 'Adjustment' 'Payment' 'Denial' 'Invoice' 'Bill']

In [109]:
dim_transaction_cleaned = dim_transaction.copy()
dim_transaction_cleaned['TransactionType'] = dim_transaction['TransactionType'].str.strip()

In [105]:
#print("after cleaning - NO whitespace")
print(dim_transaction['TransactionType'].unique())

['Charge' 'Adjustment' 'Payment' 'Denial' 'Invoice' 'Bill']

In [111]:
#^now theres only one charge cause when the space was removed the first " charge " is now in the same category as the other one cause its the same now

In [117]:
#ISSUE: MISSING AdjustmentReason Values
#Question: How can we fill missing AdjustmentReason with a default value?

#before cleaning

print("before cleaning - missing AdjustmentReason:")
print(dim_transaction['AdjustmentReason'].isnull().sum(), "missing values")

before cleaning - missing AdjustmentReason:
1 missing values

In [131]:
dim_transaction_cleaned['AdjustmentReason'] = dim_transaction_cleaned['AdjustmentReason'].fillna('Unknown')

In [135]:
#after cleaning

print("after cleaning - NO MISSING VALUES IN AdjustmentReason:")
print(dim_transaction_cleaned['AdjustmentReason'].isnull().sum(), "missing values")

after cleaning - NO MISSING VALUES IN AdjustmentReason:
0 missing values

In [137]:
#dimPHYSICIAN
#Issue: invalid providerFTE values
#Q: how can we filter out rows where provider FTE exceeds 1.0?

In [141]:
#before cleaning
print("before cleaning - invalid providerFTE values:")
dim_physician = sheets['dimPhysician'] #defining dim_physician
print(dim_physician['ProviderFTE'].describe())

before cleaning - invalid providerFTE values:
count    932.000000
mean       0.764206
std        0.281029
min        0.000000
25%        0.600000
50%        0.900000
75%        1.000000
max        1.500000
Name: ProviderFTE, dtype: float64

In [ ]:
#incomplete for now: havent added the cleaned section